@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

.root {
    margin: 0 auto;
}

.forca {
    margin-top: 20px;
    margin-left: 40px;
}

.forca img {
    width: 360px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 800px;
    margin-left: 50px;
    margin-top: 40px;
}

.key {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(153, 204, 204);
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font: 400 25px 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
}

.button {
    display: flex;
    position: absolute;
    margin-top: 45px;
    margin-right: 160px;
    width: 170px;
    border-radius: 5px;
    height: 50px;
    right: 0;
    top: 0;
    align-items: center;
    font: 500 18px 'Roboto';
    justify-content: center;
    background-color: rgb(58, 175, 58);
    cursor: pointer;
    color: white;
    border: none;
}

.word {
    display: flex;
    position: absolute;
    top: 0;
    font: 400 70px 'Roboto', sans-serif;
    right: 0;
    margin-top: 360px;
    margin-right: 160px;
}

.key:disabled {
    background: #ccc;
    cursor: default;
}

.box2 {
    display: flex;
}

.input {
    margin-top: 50px;
    font: 400 14px 'Roboto', sans-serif;
    
}

.input input {
    outline: none;
    border: 1px solid gray;
    height: 30px;
}

.input button {
    border: 2px solid blue;
    border-radius: 1px;
    font-size: 18px;
    color: blue;
    background-color: aquamarine;
    height: 30px;
}

.input button:disabled {
    background: #ccc;
    cursor: default;
}

.button:disabled {
    background: #ccc;
    cursor: default;
}

.disabled  {
    display: none;
}